.root {
  --c-button-background: var(--c-teal);
  --c-button-color: #fff;
  display: inline-flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 0 2em;
  height: 3em;
  align-items: center;
  transition: all 200ms ease-in-out;
  text-decoration: none;
  margin: 0;
  outline: none;
  font-weight: bold;

  &:focus {
    outline: 1px solid var(--c-primary);
  }
}

.appearanceButton,
.appearanceLight {
  background-color: var(--c-button-background);
  color: var(--c-button-color);
  border: 1px solid var(--c-button-background);
  font-weight: bold;
  border-radius: 100px;

  &:hover::before {
    opacity: 1;
  }
}

.appearanceLight {
  background-color: transparent;
  color: var(--c-button-background);
  border: 1px solid var(--c-button-background);
}

.appearanceNone {
  color: var(--c-button-background);

  &:hover {
    text-decoration: underline;
  }
}

.isSquare {
  padding: 0 1em;
}

.size-medium {
  font-size: 1rem;
}

.size-small {
  font-size: 0.9rem;
}

.size-xsmall {
  font-size: 0.8rem;
  padding: 0 1.5em;
}

.size-large {
  font-size: 1.5rem;
}

.icon {
  position: relative;
  z-index: 1;
  transform: scale(1.3);
  line-height: 1;
  display: block;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 1em;
  height: 1em;
  color: currentColor;
  opacity: 0;
  will-change: opacity;
  transition: opacity 200ms ease-in-out;
  pointer-events: none;
  z-index: 50;
}

.isLoading {
  .loader {
    opacity: 1;
  }

  .content,
  .icon {
    opacity: 0;
  }
}

.isDisabled {
  pointer-events: none;
  opacity: 0.6;

  &::before {
    opacity: 0;
  }

  .icon {
    color: var(--c-p);
  }
}

.appearanceNone.isDisabled {
  opacity: 0.4;
}

.hasContent .icon {
  margin-right: 0.8em;
}

.iconRight {
  flex-direction: row-reverse;

  &.hasContent .icon {
    margin-right: 0;
    margin-left: 0.8em;
  }
}

.content {
  position: relative;
  z-index: 70;
  display: block;
  line-height: 1;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: var(--c-p-light);
  width: 50%;
  z-index: 40;
}

.hasNoPadding {
  padding: 0;
  height: inherit;
}

.color-red {
  --c-button-background: var(--c-red);
  --c-button-color: #fff;
}

.fullWidth {
  width: 100%;
  .content {
    width: 100%;
    text-align: center;
  }
}
