:root {
  --c-orange: #b68433;
  --c-orange-dark: #8a6426;
  --c-black: #232323;
  --c-black-hover: #343434;
  --c-black-light: #4c4c4c;
  --c-light-grey: #f0f2f3;
  --c-gray: #585858;
  --c-gray-light: #5e5e5e;
  --c-gray-hover: #6b6b6b;
  --c-red: #dc361a;
  --c-green: #69a226;

  --c-olive: #B4D8C2;
  --c-teal: #004E5F;

  --c-border: #999999;
  --c-border-dark: var(--c-black-light);
  --c-border-light: #cbcbcb;
  --c-border-superlight: #e0e0e0;
  --c-primary: var(--c-orange);
  --c-primary-dark: var(--c-orange);

  --c-message-color: #6dafc4;
  --c-message-bkg: #edfafc;
  --c-message-color-error: #cb5a65;
  --c-message-bkg-error: #f8eeee;
  --c-message-color-warning: #ebc247;
  --c-message-bkg-warning: #fdf9ea;
  --c-message-color-success: #66ab7e;
  --c-message-bkg-success: #f0fbf6;
  --c-message-color-disabled: #9b9b9b;
  --c-message-bkg-disabled: #efefef;

  --c-p: var(--c-black);
  --c-p-light: var(--c-black-light);
  --c-p-superlight: var(--c-border);
  --c-p-semi: #ffffffd4;
  --c-p-white: #fff;
  --c-bkg: #ffffff;
  --c-bkg-grey: var(--c-light-grey);
  --c-bkg-dark: #323232;
  --c-bkg-light: #454545;
}

.bg-olive {
  background-color: var(--c-olive);
}

.bg-teal {
  background-color: var(--c-teal);
}
