:root {
  --space-gutter: 2rem;
  --space-gutter-big: 3rem;
  --space-gutter-half: 0.8rem;
  --space-section: 3.5rem;
  --space-groups: 2.5rem;
  --space-component: 1.5rem;
  --space-inside: 0.3rem;

  --border-radius-card: 0.4rem;
}
