.heading {
  font-weight: 700;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.spacer {
  height: 5px;
  background-color: #004e5f;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  text-align: center;
  height: 90px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.logo {
  position: absolute;
  right: 40px;
  width: 60px;
  height: 60px;
  top: -30px;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.8rem;
}
