.heading {
  font-weight: 700;
  margin-bottom: 30px;
}

.spacer {
  height: 5px;
  background-color: #004e5f;
  margin-bottom: 30px;
}

.question {
  margin-top: 60px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}
